@charset "UTF-8";

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 62.5%; // ブラウザの持ってるのは16pxが基本、分かりにくいから10pxに調整
}
body {
  color: #333;
  font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium",
    "游ゴシック", "Yu Gothic", sans-serif;
  font-size: 1.6rem;
  background: #ffffea;
}

a {
  text-decoration: none;
  color: #333;
}

/* ==============================================
header
=================================================*/
.header {
  display: flex; //
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  background: #fff;
  box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
  margin-bottom: 15px;
  &-infos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    form {
      margin-right: 15px;
      input {
        font-size: 18px;
        height: 36px;
      }
    }
  }
  &-logo {
    width: 100px;
    height: 50px;
    background: #666;
  }

  &-list {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;

    @media screen and (max-width: 768px) {
      display: block;
    }

    li {
      position: relative;

      height: 100%;
      line-height: 100%;
      @media screen and (max-width: 768px) {
        height: auto;
      }

      @media screen and (min-width: 769px) {
        a {
          display: flex;
          align-items: center;
          text-align: center;
          height: 100%;
          padding: 0 30px;
          color: rgb(129, 118, 118);
          text-decoration: none;
        }
        &:hover {
          background: #aaa;
          color: #fff;
          -webkit-transition: 0.3s;
          transition: all 0.3s;
          .sub-list > .sub-item {
            overflow: visible;
            opacity: 1;
            height: 50px;
          }
        }
      }
      @media screen and (max-width: 768px) {
        a {
          padding: 0 30px;
          color: rgb(129, 118, 118);
          text-decoration: none;
          height: auto;
        }
      }
    }
  }
  &-icon {
    width: 150px;
    margin-right: 15px;
  }
}

/* ==============================================
contents
=================================================*/
main {
  display: block; // IE対策のおまじない
}

/*================================================
掲示板
=================================================*/

.message {
  &-success {
    background: #d6ffd6;
    padding: 15px;
    margin-bottom: 15px;
  }
  &-error {
    background: #ffd6d6;
    padding: 15px;
    margin-bottom: 15px;
  }
  div p {
    font-weight: bold;
    font-size: 24px;
  }
}

.hello {
  &-ttl {
    font-size: 24px;
    margin-bottom: 10px;
  }
}

.thread {
  &-list {
    border: 1px solid #000;
    margin: 10px 5px;
    padding: 10px;
    background: #fff;

    div {
      margin-bottom: 5px;
    }
  }

  &-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &-title {
    font-size: 20px;
  }
}

.comment {
  border: 1px solid #000;
  background: #fff;
  margin: 10px 5px;
  padding: 10px;
  height: auto;
  &-nav {
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    p {
      font-weight: bold;
    }
  }
  &-user {
    display: flex;
    justify-content: space-between;
    p {
      margin-right: 5px;
    }
  }
  &-form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
  }
  &-title {
    font-size: 20px;
  }
  &-content {
    white-space: pre-line;
    word-wrap: break-word;
    p {
      line-height: 1.8rem; // text の 縦幅を持たせる
    }
  }
  &-textarea {
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 30%;
    textarea {
      width: 100%;
    }
  }
  &-btn {
    display: block;
    margin: 20px auto;
  }
  &-thread-p {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &-thread-title {
    font-size: 40px;
    font-weight: bold;
    color: red;
    margin: 20px;
    display: inline-block;
  }

  // いいね星マーク
  &-thread-favo {
    color: #ccc;
    font-size: 30px;
  }
  &-thread-favo.active {
    color: #ff3333;
    font-size: 30px;
  }
}

.login {
  text-align: center;
  background: #fff;
  border: 1px solid #ccc;
  width: 60%;
  margin: 0 auto;
  padding: 40px;
  h1 {
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 40px;
  }
  input {
    width: 50%;
    margin-bottom: 30px;
  }
  &-btn {
    display: flex;
    justify-content: flex-end;
    margin-top: 15px;
  }
}

// 画面遷移用ボタン
.a-btn {
  color: #484848;
  display: inline-block;
  font-size: 18px;
  background: #eaeef1;
  text-decoration: none;
  margin: 0 10px;
  transition: 0.3s;

  &-icon {
    display: inline-block;
    width: 36px;
    height: 36px;
    text-align: center;
    color: white;
    background: #0094c8;

    i {
      font-size: 18px;
      line-height: 36px;
      transition: 0.3s;
    }
  }
  &-text {
    display: inline-block;
    text-align: center;
    margin: 0 9px;
  }
  &:hover {
    background: #c73500;
    color: white;
  }
}

.b-btn {
  text-align: center;
  box-sizing: border-box;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 2px solid #447fff;
  background: #fff;
  color: #447fff;
  font-weight: bold;
  padding: 0.5em 2em 0.5em 1em;
  line-height: 1.4;
  max-width: 300px;
  width: 100%;
  margin: 0 auto;
  position: relative;

  &:hover {
    background: #447fff;
    color: #fff;
  }
  &:active,
  &:focus {
    opacity: 0.8;
  }
}

// ボタン用
.reset {
  color: black;
  text-decoration: none;
  font-family: sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: normal;
  border: none;
  background: transparent;
  margin: 0;
  padding: 0;
  outline: none;
  cursor: pointer;
}

.submit-btn {
  text-align: center;
  box-sizing: border-box;
  display: block;
  border: 2px solid #0094c8;
  background: #fff;
  color: #0094c8;
  font-weight: bold;
  padding: 0.5em 2.5em 0.5em 1em;
  line-height: 1.4;

  margin: 0 auto;
  position: relative;
  &::after {
    content: "\f2f6";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 18px;
    position: absolute;
    right: 12px;
    top: 15%;
    transition: right 0.3s;
  }
  &-register::after {
    content: "\f234";
  }
  &-comment::after {
    content: "\f075";
  }

  &:hover {
    background: #0094c8;
    color: #fff;
    &::after {
      border-color: #fff;
      right: 7px;
    }
  }
  &:active,
  &:focus {
    opacity: 0.8;
  }

  &-cancel {
    border: 2px solid #c73500;
    color: #c73500;

    &::after {
      content: "\f4b3";
    }
    &:hover {
      background: #c73500;
    }
  }
}
.pager .pagination {
  text-align: center;
}

.pager .pagination li {
  display: inline;
  margin: 0 2px;
  padding: 0;
  display: inline-block;
  width: 50px;
  height: 50px;
  text-align: center;
  position: relative;
  border-radius: 10px;
}

.pager .pagination li a {
  vertical-align: middle;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  display: table;
  text-decoration: none;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.pager .pagination li a span {
  display: table-cell;
  vertical-align: middle;
}

.pager .pagination li a:hover,
.pager .pagination li a.active {
  color: #fff;
  background: #9d50bb;
}

.pager .pagination li a.disable {
  pointer-events: none;
  display: none;
}

@media only screen and (max-width: 768px) {
  .pager .pagination li {
    display: none;
  }

  .pager .pagination li.pre,
  .pager .pagination li.next {
    display: inline-block;
    width: 40%;
    height: 50px;
    text-align: center;
  }

  .pager .pagination li.pre a,
  .pager .pagination li.next a {
    width: 100%;
    text-align: center;
  }

  .pager .pagination li.pre span::after {
    content: "　前のページへ";
  }

  .pager .pagination li.next span::before {
    content: "次のページへ　";
  }
}

/*================================================
ここまで
=================================================*/

.form {
  &-name {
    width: 80%;
    margin: 10px auto;
    div {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .form-control {
      font: 15px/24px sans-serif;
      box-sizing: border-box;
      width: 100%;
      padding: 0.3em;
      transition: 0.3s;
      letter-spacing: 1px;
      color: #333;
      border: 1px solid #1b2538;
      border-radius: 4px;
    }
    .form-control:focus {
      border: 1px solid #da3c41;
      outline: none;
      box-shadow: 0 0 5px 1px rgba(218, 60, 65, 0.5);
    }
  }

  &-email {
    width: 80%;
    margin: 10px auto;
    div {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .form-control {
      font: 15px/24px sans-serif;
      box-sizing: border-box;
      width: 100%;
      padding: 0.3em;
      transition: 0.3s;
      letter-spacing: 1px;
      color: #333;
      border: 1px solid #1b2538;
      border-radius: 4px;
    }
    .form-control:focus {
      border: 1px solid #da3c41;
      outline: none;
      box-shadow: 0 0 5px 1px rgba(218, 60, 65, 0.5);
    }
  }
  &-main {
    width: 80%;
    margin: 20px auto;
    div {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .form-control {
      font: 15px/24px sans-serif;
      box-sizing: border-box;
      width: 100%;
      padding: 0.3em;
      transition: 0.3s;
      letter-spacing: 1px;
      color: #333;
      border: 1px solid #1b2538;
      border-radius: 4px;
    }
    .form-control:focus {
      border: 1px solid #da3c41;
      outline: none;
      box-shadow: 0 0 5px 1px rgba(218, 60, 65, 0.5);
    }
  }
  &-group {
    color: red;
    display: flex;
    justify-content: start;
    margin-bottom: 10px;
  }
  &-window {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 80%;
    background-color: #dfdddd;
    border-radius: 5px;
    z-index: 11;
    padding: 2rem;
    div {
      width: 60%;
      margin: 0px auto;
      display: flex;
      justify-content: start;
      p {
        text-align: left;
        word-break: break-all;
      }
    }

    label {
      font-size: 20px;
      font-weight: bold;
      margin-bottom: 10px;
    }
  }
}

// /*主な共通部分は省略*/
// button {
//   font-size: 1.6rem;
//   font-weight: 700;
//   line-height: 1.5;
//   position: relative;
//   display: inline-block;
//   padding: 1rem 4rem;
//   cursor: pointer;
//   -webkit-user-select: none;
//   -moz-user-select: none;
//   -ms-user-select: none;
//   user-select: none;
//   -webkit-transition: all 0.3s;
//   transition: all 0.3s;
//   text-align: center;
//   vertical-align: middle;
//   text-decoration: none;
//   letter-spacing: 0.1em;
//   color: #212529;
//   border-radius: 0.5rem;
// }

button.disabled {
  border: 2px solid #000;
  border-radius: 0;
  color: #333;
  background: #aaa;
}

.footer-section {
  width: 100%;
  text-align: center;
  margin: 15px auto;
}

/* モーダルウィンドウ */
.modal {
  &-window {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 80%;
    background-color: #fffffc;
    border-radius: 5px;
    z-index: 11;
    padding: 6rem;
    overflow-y: scroll;
  }
  &-secttl {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 30px;
    text-align: center;
  }
  &-form-item {
    font-size: 20px;
    margin-bottom: 30px;
    white-space: pre-wrap;
  }
  &-text {
    line-height: 2.5rem;
    margin-bottom: 20px;
    text-align: center;
    @media screen and (max-width: 515px) {
      margin: 15px;
      text-align: left;
      br {
        display: none;
      }
    }
  }
  &-close {
    display: flex;
    justify-content: center;
  }

  &-icon-div {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &-icon-a {
    background: #666;
    width: 40%;
    margin-bottom: 30px;
    box-shadow: 0 5px 10px #ccc; /* 影（[右][下][ぼかし][影の色]）を指定する */

    @media screen and (max-width: 768px) {
      width: 100%;
    }
  }
  &-icon {
    width: 100%;
  }

  &-btns {
    display: flex;
    justify-content: space-between;
    align-items: center;
    div {
      width: 50%;
    }
  }
}

/* 閉じるボタン */
.button-close {
  border: 2px solid #000;
  border-radius: 0;
  background: #fff;
}
.button-close:hover {
  color: #fff;
  background: #47585c;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  z-index: 10;
}

.no_scroll {
  //overflow: hidden;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  overflow-y: scroll;
}

/*オープンアニメーション*/
.loading {
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 9000;
}
.loading p {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: none;
  z-index: 9999;
  width: 100%;
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 3rem;
  @media screen and (max-width: 768px) {
    font-size: 7vw;
  }
}

@keyframes wipebar {
  0% {
    left: 0;
    right: 100%;
  }
  50% {
    left: 0;
    right: 0;
  }
  100% {
    left: 100%;
    right: 0;
  }
}
@keyframes wipecolor {
  0% {
    color: transparent;
  }
  50% {
    color: transparent;
  }
  51% {
    color: #000;
  }
  100% {
    color: #000;
  }
}

.wipein {
  position: relative;
  color: transparent;
}
.wipein:after {
  display: block;
  content: "";
  height: 100%;
  background: #000;
  position: absolute;
  top: 0;
}
.wipein.show {
  animation: wipecolor 0.7s ease-in-out both;
}
.wipein.show:after {
  animation: wipebar 0.7s ease-in-out both;
}

@media screen and (max-width: 768px) {
  /*============
nav
=============*/
  nav {
    display: block;
    position: fixed;
    top: 0;
    left: -300px;
    bottom: 0;
    width: 300px;
    background: #ffffff;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    transition: 0.5s;
    z-index: 3;
  }
  .open nav {
    left: 0;
  }
  nav .inner {
    padding: 25px;
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      .main-list {
        border-bottom: 1px solid #333;
      }
      li {
        position: relative;
        margin: 0;
        a {
          border-bottom: 1px solid #ededed;

          display: block;
          color: #333;
          font-size: 14px;
          padding: 1em;
          text-decoration: none;
          transition-duration: 0.2s;
        }

        .main {
          font-weight: bold;
        }
        .sub {
          padding-left: 30px;

          &::before {
            content: "-";
            display: inline-block;
            padding-right: 5px;
          }
        }
        .last {
          border: 0;
        }
      }
    }
  }

  @media screen and (max-width: 767px) {
    nav {
      left: -240px;
      width: 240px;
    }
  }
  /*============
@keyframes
=============*/
  @keyframes equalizer01 {
    0% {
      width: 70%;
    }
    10% {
      width: 50%;
    }
    20% {
      width: 100%;
    }
    30% {
      width: 10%;
    }
    40% {
      width: 50%;
    }
    50% {
      width: 70%;
    }
    60% {
      width: 50%;
    }
    70% {
      width: 10%;
    }
    80% {
      width: 100%;
    }
    90% {
      width: 10%;
    }
    100% {
      width: 70%;
    }
  }
  @keyframes equalizer02 {
    0% {
      width: 30%;
    }
    10% {
      width: 20%;
    }
    20% {
      width: 40%;
    }
    30% {
      width: 10%;
    }
    40% {
      width: 20%;
    }
    50% {
      width: 30%;
    }
    60% {
      width: 20%;
    }
    70% {
      width: 10%;
    }
    80% {
      width: 40%;
    }
    90% {
      width: 10%;
    }
    100% {
      width: 30%;
    }
  }
  /*============
.toggle_btn
=============*/
  .toggle_btn {
    display: block;
    position: fixed;
    top: 30px;
    right: 30px;
    width: 30px;
    height: 30px;
    transition: all 0.5s;
    cursor: pointer;
    z-index: 3;
  }
  .toggle_btn span {
    display: block;
    position: absolute;
    left: 0;
    width: 30px;
    height: 2px;
    background-color: #333;
    border-radius: 4px;
    transition: all 0.5s;
  }
  .toggle_btn span:nth-child(1) {
    top: 4px;
  }
  .toggle_btn span:nth-child(2) {
    top: 14px;
  }
  .toggle_btn span:nth-child(3) {
    bottom: 4px;
  }
  .open .toggle_btn span {
    background-color: #fff;
  }
  .open .toggle_btn span:nth-child(1) {
    width: 15px;
    -webkit-transform: translate(5px, 5px) rotate(-45deg);
    transform: translate(-2px, 5px) rotate(-45deg);
  }

  .open .toggle_btn span:nth-child(3) {
    width: 15px;

    -webkit-transform: translate(-1px, -13px) rotate(45deg);
    transform: translate(-2px, -5px) rotate(45deg);
  }
  /*============
#mask
=============*/
  #mask {
    display: none;
    transition: all 0.5s;
  }
  .open #mask {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.8;
    z-index: 2;
    cursor: pointer;
  }
  /*=============================
#btn13
=============================*/
  #btn13.active span:nth-of-type(1),
  #btn13.active span:nth-of-type(3) {
    width: 20px;
  }
  #btn13.active span:nth-of-type(1) {
    -webkit-transform: translate(-1px, 13px) rotate(-45deg);
    transform: translate(-1px, 13px) rotate(-45deg);
  }
  #btn13.active span:nth-of-type(3) {
    -webkit-transform: translate(-1px, -13px) rotate(45deg);
    transform: translate(-1px, -13px) rotate(45deg);
  }
}
