@charset "UTF-8";
*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  color: #333;
  font-family: "ヒラギノ丸ゴ ProN", "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
  font-size: 1.6rem;
  background: #ffffea;
}

a {
  text-decoration: none;
  color: #333;
}

/* ==============================================
header
=================================================*/
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  z-index: 5;
  top: 0;
  background: #fff;
  box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
  margin-bottom: 15px;
}

.header-infos {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-infos form {
  margin-right: 15px;
}

.header-infos form input {
  font-size: 18px;
  height: 36px;
}

.header-logo {
  width: 130px;
  height: 60px;
  background: #66665e;
  display: flex;
  justify-content: center;
}

.header-logo div {
  text-align: center;
  color: #fff;
}

.header-logo i {
  font-size: 40px;
  line-height: 42px;
  transition: 0.3s;
  margin: 0 auto;
}

.header-logo p {
  text-align: center;
  font-size: 16px;
}

.header-search-btn {
  display: none;
}

.header-list {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
}

@media screen and (max-width: 900px) {
  .header-list {
    display: block;
  }
}

.header-list li {
  position: relative;
  height: 100%;
  line-height: 100%;
}

@media screen and (max-width: 900px) {
  .header-list li {
    height: auto;
  }
}

@media screen and (min-width: 901px) {
  .header-list li a {
    display: flex;
    align-items: center;
    text-align: center;
    height: 100%;
    padding: 0 30px;
    color: #817676;
    text-decoration: none;
  }
  .header-list li:hover {
    background: #aaa;
    color: #fff;
    transition: all 0.3s;
  }
  .header-list li:hover .sub-list > .sub-item {
    overflow: visible;
    opacity: 1;
    height: 50px;
  }
}

@media screen and (max-width: 900px) {
  .header-list li a {
    padding: 0 30px;
    color: #817676;
    text-decoration: none;
    height: auto;
  }
}

.header-icon {
  width: 150px;
  margin-right: 15px;
}

/* ==============================================
contents
=================================================*/
main {
  display: block;
}

/*================================================
掲示板
=================================================*/
.message-success {
  background: #d6ffd6;
  padding: 15px;
  margin-bottom: 15px;
}

.message-error {
  background: #ffd6d6;
  padding: 15px;
  margin-bottom: 15px;
}

.message div p {
  font-weight: bold;
  font-size: 24px;
}

.hello-ttl {
  font-size: 24px;
  margin-bottom: 10px;
}

.thread-list {
  border: 1px solid #000;
  margin: 10px 5px;
  padding: 10px;
  background: #fff;
}

.thread-list div {
  margin-bottom: 5px;
}

.thread-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.thread-title {
  font-size: 20px;
}

.comment {
  border: 1px solid #000;
  background: #fff;
  margin: 10px 5px;
  padding: 10px;
  height: auto;
}

.comment-nav {
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.comment-nav p {
  font-weight: bold;
}

.comment-user {
  display: flex;
  justify-content: space-between;
}

.comment-user p {
  margin-right: 5px;
}

.comment-form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}

.comment-title {
  font-size: 20px;
}

.comment-content {
  white-space: pre-line;
  word-wrap: break-word;
}

.comment-content p {
  line-height: 1.8rem;
}

.comment-textarea {
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30%;
}

.comment-textarea textarea {
  width: 100%;
}

.comment-btn {
  display: block;
  margin: 20px auto;
}

.comment-thread-p {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.comment-thread-title {
  font-size: 40px;
  font-weight: bold;
  color: red;
  margin: 20px;
  display: inline-block;
}

.comment-thread-favo {
  color: #ccc;
  font-size: 30px;
}

.comment-thread-favo.active {
  color: #ff3333;
  font-size: 30px;
}

.login {
  text-align: center;
  background: #fff;
  border: 1px solid #ccc;
  width: 60%;
  margin: 0 auto;
  padding: 40px;
}

.login h1 {
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 40px;
}

.login input {
  width: 50%;
  margin-bottom: 30px;
}

.login-btn {
  display: flex;
  justify-content: flex-end;
  margin-top: 15px;
}

.user {
  text-align: center;
}

.user-div {
  margin: 30px auto;
}

.user-div div {
  margin-bottom: 15px;
}

.user-ttl {
  font-size: 25px;
  font-weight: bold;
}

.a-btn {
  color: #484848;
  display: inline-block;
  font-size: 18px;
  background: #eaeef1;
  text-decoration: none;
  margin: 0 10px;
  transition: 0.3s;
}

.a-btn-icon {
  display: inline-block;
  width: 36px;
  height: 36px;
  text-align: center;
  color: white;
  background: #0094c8;
}

.a-btn-icon i {
  font-size: 18px;
  line-height: 36px;
  transition: 0.3s;
}

.a-btn-text {
  display: inline-block;
  text-align: center;
  margin: 0 9px;
}

.a-btn:hover {
  background: #c73500;
  color: white;
}

.b-btn {
  text-align: center;
  box-sizing: border-box;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 2px solid #447fff;
  background: #fff;
  color: #447fff;
  font-weight: bold;
  padding: 0.5em 2em 0.5em 1em;
  line-height: 1.4;
  max-width: 300px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.b-btn:hover {
  background: #447fff;
  color: #fff;
}

.b-btn:active, .b-btn:focus {
  opacity: 0.8;
}

.reset {
  color: black;
  text-decoration: none;
  font-family: sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: normal;
  border: none;
  background: transparent;
  margin: 0;
  padding: 0;
  outline: none;
  cursor: pointer;
}

.submit-btn {
  text-align: center;
  box-sizing: border-box;
  display: block;
  border: 2px solid #0094c8;
  background: #fff;
  color: #0094c8;
  font-weight: bold;
  padding: 0.5em 2.5em 0.5em 1em;
  line-height: 1.4;
  margin: 0 auto;
  position: relative;
  z-index: 1;
}

.submit-btn::after {
  content: "\f2f6";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 18px;
  position: absolute;
  right: 12px;
  top: 15%;
  transition: right 0.3s;
}

.submit-btn-register::after {
  content: "\f234";
}

.submit-btn-comment::after {
  content: "\f075";
}

.submit-btn-thread::after {
  content: "\f086";
}

.submit-btn-user::after {
  content: "\f007";
}

.submit-btn:hover {
  background: #0094c8;
  color: #fff;
}

.submit-btn:hover::after {
  border-color: #fff;
  right: 7px;
}

.submit-btn:active, .submit-btn:focus {
  opacity: 0.8;
}

.submit-btn-cancel {
  border: 2px solid #c73500;
  color: #c73500;
}

.submit-btn-cancel::after {
  content: "\f4b3";
}

.submit-btn-cancel:hover {
  background: #c73500;
}

.submit-btn-cancel-user::after {
  content: "\f4fa";
}

.pager .pagination {
  text-align: center;
}

.pager .pagination li {
  display: inline;
  margin: 0 2px;
  padding: 0;
  display: inline-block;
  width: 50px;
  height: 50px;
  text-align: center;
  position: relative;
  border-radius: 10px;
}

.pager .pagination li a {
  vertical-align: middle;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  display: table;
  text-decoration: none;
  transition: all 0.3s ease;
}

.pager .pagination li a span {
  display: table-cell;
  vertical-align: middle;
}

.pager .pagination li a:hover,
.pager .pagination li a.active {
  color: #fff;
  background: #9d50bb;
}

.pager .pagination li a.disable {
  pointer-events: none;
  display: none;
}

@media only screen and (max-width: 768px) {
  .pager .pagination li {
    display: none;
  }
  .pager .pagination li.pre,
  .pager .pagination li.next {
    display: inline-block;
    width: 40%;
    height: 50px;
    text-align: center;
  }
  .pager .pagination li.pre a,
  .pager .pagination li.next a {
    width: 100%;
    text-align: center;
  }
  .pager .pagination li.pre span::after {
    content: "　前のページへ";
  }
  .pager .pagination li.next span::before {
    content: "次のページへ　";
  }
}

/*================================================
ここまで
=================================================*/
.form-name {
  width: 80%;
  margin: 10px auto;
}

.form-name div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-name .form-control {
  font: 15px/24px sans-serif;
  box-sizing: border-box;
  width: 100%;
  padding: 0.3em;
  transition: 0.3s;
  letter-spacing: 1px;
  color: #333;
  border: 1px solid #1b2538;
  border-radius: 4px;
}

.form-name .form-control:focus {
  border: 1px solid #da3c41;
  outline: none;
  box-shadow: 0 0 5px 1px rgba(218, 60, 65, 0.5);
}

.form-email {
  width: 80%;
  margin: 10px auto;
}

.form-email div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-email .form-control {
  font: 15px/24px sans-serif;
  box-sizing: border-box;
  width: 100%;
  padding: 0.3em;
  transition: 0.3s;
  letter-spacing: 1px;
  color: #333;
  border: 1px solid #1b2538;
  border-radius: 4px;
}

.form-email .form-control:focus {
  border: 1px solid #da3c41;
  outline: none;
  box-shadow: 0 0 5px 1px rgba(218, 60, 65, 0.5);
}

.form-main {
  width: 80%;
  margin: 20px auto;
}

.form-main div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-main .form-control {
  font: 15px/24px sans-serif;
  box-sizing: border-box;
  width: 100%;
  padding: 0.3em;
  transition: 0.3s;
  letter-spacing: 1px;
  color: #333;
  border: 1px solid #1b2538;
  border-radius: 4px;
}

.form-main .form-control:focus {
  border: 1px solid #da3c41;
  outline: none;
  box-shadow: 0 0 5px 1px rgba(218, 60, 65, 0.5);
}

.form-group {
  color: red;
  display: flex;
  justify-content: start;
  margin-bottom: 10px;
}

.form-window {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 80%;
  background-color: #dfdddd;
  border-radius: 5px;
  z-index: 11;
  padding: 2rem;
}

.form-window div {
  width: 60%;
  margin: 0px auto;
  display: flex;
  justify-content: start;
}

.form-window div p {
  text-align: left;
  word-break: break-all;
}

.form-window label {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.form-div div {
  text-align: center;
  margin: 0px auto 30px;
}

button.disabled {
  border: 2px solid #000;
  border-radius: 0;
  color: #333;
  background: #aaa;
}

.footer-section {
  width: 100%;
  text-align: center;
  margin: 15px auto;
}

/* モーダルウィンドウ */
.modal-window {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 80%;
  background-color: #fffffc;
  border-radius: 5px;
  z-index: 11;
  padding: 6rem;
  overflow-y: scroll;
}

.modal-secttl {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 30px;
  text-align: center;
}

.modal-form-item {
  font-size: 20px;
  margin-bottom: 30px;
  white-space: pre-wrap;
}

.modal-text {
  line-height: 2.5rem;
  margin-bottom: 20px;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .modal-text {
    margin: 15px;
    text-align: left;
  }
  .modal-text br {
    display: none;
  }
}

.modal-close {
  display: flex;
  justify-content: center;
}

.modal-icon-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-icon-a {
  background: #666;
  width: 40%;
  margin-bottom: 30px;
  box-shadow: 0 5px 10px #ccc;
  /* 影（[右][下][ぼかし][影の色]）を指定する */
}

@media screen and (max-width: 900px) {
  .modal-icon-a {
    width: 100%;
  }
}

.modal-icon {
  width: 100%;
}

.modal-btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-btns div {
  width: 50%;
}

/* 閉じるボタン */
.button-close {
  border: 2px solid #000;
  border-radius: 0;
  background: #fff;
}

.button-close:hover {
  color: #fff;
  background: #47585c;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  z-index: 10;
}

.no_scroll {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  overflow-y: scroll;
}

/*オープンアニメーション*/
.loading {
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 9000;
}

.loading p {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: none;
  z-index: 9999;
  width: 100%;
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 3rem;
}

@media screen and (max-width: 900px) {
  .loading p {
    font-size: 7vw;
  }
}

@keyframes wipebar {
  0% {
    left: 0;
    right: 100%;
  }
  50% {
    left: 0;
    right: 0;
  }
  100% {
    left: 100%;
    right: 0;
  }
}

@keyframes wipecolor {
  0% {
    color: transparent;
  }
  50% {
    color: transparent;
  }
  51% {
    color: #000;
  }
  100% {
    color: #000;
  }
}

.wipein {
  position: relative;
  color: transparent;
}

.wipein:after {
  display: block;
  content: "";
  height: 100%;
  background: #000;
  position: absolute;
  top: 0;
}

.wipein.show {
  animation: wipecolor 0.7s ease-in-out both;
}

.wipein.show:after {
  animation: wipebar 0.7s ease-in-out both;
}

.toggle_btn {
  display: none;
}

.header-under {
  display: none;
}

@media screen and (max-width: 900px) {
  /*============
nav
=============*/
  nav {
    display: block;
    position: fixed;
    top: 0;
    left: -300px;
    bottom: 0;
    width: 300px;
    background: #ffffff;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    transition: 0.5s;
    z-index: 6;
  }
  .open nav {
    left: 0;
  }
  nav .inner {
    padding: 25px;
  }
  nav .inner ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  nav .inner ul .main-list {
    border-bottom: 1px solid #333;
  }
  nav .inner ul li {
    position: relative;
    margin: 0;
  }
  nav .inner ul li a {
    border-bottom: 1px solid #ededed;
    display: block;
    color: #333;
    font-size: 14px;
    padding: 1em;
    text-decoration: none;
    transition-duration: 0.2s;
  }
  nav .inner ul li .main {
    font-weight: bold;
  }
  nav .inner ul li .sub {
    padding-left: 30px;
  }
  nav .inner ul li .sub::before {
    content: "-";
    display: inline-block;
    padding-right: 5px;
  }
  nav .inner ul li .last {
    border: 0;
  }
  .nav-box {
    text-align: center;
    width: 80px;
  }
  .nav-btns {
    display: flex;
    justify-content: inherit;
    width: 240px;
  }
  .nav-text {
    font-size: 12px;
    margin-top: 3px;
  }
  .header-under {
    display: block;
    opacity: 0;
    background: #fff;
    height: 0px;
    width: 100%;
    position: fixed;
    left: 0;
    top: 60px;
    border-top: 1px solid #ccc;
    transition: 0.3s;
    padding: auto;
    text-align: center;
    padding-top: 10px;
  }
  .header-under form {
    height: 75%;
  }
  .header-under form input {
    width: 80%;
    height: 100%;
    font-size: 20px;
  }
  .header-under.open {
    opacity: 1;
    background: #fff;
    height: 60px;
    transition: all 0.3s;
    border-bottom: 1px solid #ccc;
  }
  /*============
.toggle_btn
=============*/
  .toggle_btn {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 10px;
    right: 0px;
    width: 65%;
    transition: all 0.5s;
    cursor: pointer;
    z-index: 3;
  }
  .toggle_btn div i {
    font-size: 30px;
  }
  /*=============
  モーダル
  ===============*/
  .modal-window {
    padding: 2rem;
  }
  .modal-window .modal-btns {
    display: block;
    position: relative;
    height: 100px;
  }
  .modal-window .modal-btns .submit-div {
    position: absolute;
    top: 0;
  }
  .modal-window .modal-btns .cancel-div {
    position: absolute;
    bottom: 0;
  }
  .form-window div {
    width: 100%;
  }
  /*=============
  入力フォーム
  ===============*/
  .login {
    width: 95%;
    padding: 15px;
  }
  .login input {
    width: 80%;
  }
}
/*# sourceMappingURL=style.css.map */